/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

a{text-decoration: none; color: #222;}

#gallery{
	width: 350px;
	margin:50px auto;
	border: 10px solid #ddd;
}
#gallery h1{text-align: center; margin: 10px auto;}
#gallery #photo{text-align: center;}
#gallery #photo img{border: 5px solid #ddd;}
#gallery #photoList{width: 300px; margin: 10px auto; text-align: center; margin: 10px auto; text-align: center; overflow: hidden;}
#gallery #photoList #innerList{width: 800px; transition: .3s; overflow: hidden;}
#gallery #photoList #innerList li{width:100px; float: left; text-align: center;}
#gallery #photoList #innerList li a{display: block;}
#gallery .btn-wrap{text-align: center; margin-bottom: 10px;}
#gallery .btn-wrap #prevBtn{font-weight: bold; font-size: 24px;}
#gallery .btn-wrap #nextBtn{font-weight: bold; font-size: 24px;}