@charset "utf-8";

.flex{}
.flex .login-wrap{background: #b77ff6; height: 100vh; text-align: center; padding: 50px; box-sizing: border-box;}
.flex .login-wrap .login-inner{width: 370px; padding: 20px; margin: 0 auto; background: rgb(206, 203, 203);}
.flex .login-wrap .login-inner h2{font-size: 32px; font-weight: 600; margin-bottom: 10px;}
.flex .login-wrap .login-inner form{}
.flex .login-wrap .login-inner form input{border: none; display: block; height: 28px; margin-bottom: 10px; padding: 20px 25px; width: 100%; box-sizing: border-box;}
.flex .login-wrap .login-inner .login-button{border: none; background: #706f6f; color: #fff; font-size: 14px; margin-top: 10px; padding: 10px 30px}
.flex .login-wrap .login-inner .or{margin: 30px 0; font-size: 12px; color: #706f6f; position: relative;}
.flex .login-wrap .login-inner .or:after{
    content: "";
    position: absolute;
    top:5px;
    right:0;
    height: 1px;
    background: #706f6f;
    width: 40%;

}
.flex .login-wrap .login-inner .or:before{
    content: "";
    position: absolute;
    top:5px;
    left:0;
    height: 1px;
    background: #706f6f;
    width: 40%;

}
.flex .login-wrap .login-inner .social{width: 100%;}
.flex .login-wrap .login-inner .social .social-button{
    border:none;
    background: none;
    width: 100%;
}
.flex .login-wrap .login-inner .social .social-button img{
    width: 60%;
}